.events-list {
  width: 100%;
  min-height: 100%;

  margin: 0 !important;
  padding-top: 0.5rem;

  li {
    display: flex;
    align-items: center;

    .index {
      display: inline-block;
      padding-left: 0.5rem;
      min-width: 2rem;
      text-align: left;
      color: rgba(white, 0.5);
    }

    pre {
      background: transparent !important;
      padding: 0 !important;
      padding-left: 0.5rem !important;
    }
  }
}
