@import "./config.scss";

.App {
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;

  .section {
    padding: 0 1rem;
  }

  .hero {
    .hero-body {
      padding: 1rem;
    }

    .header {
      display: flex;
      align-items: center;

      img {
        height: 35px;
      }

      .title {
        margin-left: 1.5rem;
        font-size: 1.75rem;
      }
    }
  }

  #event-input {
    padding: 1rem 1rem 0;
  }

  #events-chart {
    flex-grow: 1;
    z-index: 0;

    .container {
      height: 100%;
      position: relative;

      .chart-container {
        position: absolute;
        left: 0;
        height: 100%;
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  .footer {
    background-color: $secondary;
    width: 100%;
    padding: 1.5rem;

    z-index: 1;
  }
}
