@import "./config.scss";

.App {
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;

  .section {
    padding: 0;
  }

  .hero {
    .hero-body {
      padding: 1rem;
    }

    .header {
      display: flex;

      .title {
        margin-left: 1.5rem;
        font-size: 1.75rem;
      }
    }
  }

  #event-input {
    padding: 1rem 0 0;

    .chart-input-box {
      border-radius: 1rem;
      overflow: hidden;
      width: 100%;

      display: flex;
      flex-direction: column;

      .content {
        background-color: #222f3e;
        flex-grow: 1;
        margin-bottom: 0;
      }

      .input-container {
        flex-shrink: 0;

        display: flex;
        align-items: center;
        padding-right: 1rem;

        > :not(:last-child) {
          margin-right: 0.5rem;
        }

        .label {
          color: white;
          padding: 1rem;
          padding-right: 0;
        }
      }
    }
  }

  #events-chart {
    flex-grow: 1;
    z-index: 0;

    .container {
      height: 100%;
      position: relative;

      .chart-container {
        position: absolute;
        left: 0;
        height: 100%;
        flex-grow: 1;
        width: 100%;
      }
    }
  }

  .footer {
    background-color: $secondary;
    width: 100%;
    padding: 1.5rem;

    z-index: 1;
  }
}
