@import "../../styles/config.scss";

.empty-data {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.25;

  .icon {
    width: 3rem;
    height: 3rem;
  }

  .text {
    font-size: 2rem;
    color: $black;
  }
}
